.tag {
  display: inline-block;
  min-width: 1.8rem;
  background-color: var(--color-black);
  padding: 0.3rem 0.6rem;
  border: 2px solid var(--color-blue);
  border-radius: 99rem;
  text-align: center;
  font-size: 10px;

  &.active {
    background-color: var(--color-pink);
  }
}
